## TASK 8

### NAME : AVINASH M
### REG NO. : GO_STP_8305

___

## Predicting a Startup's Profit/Success Rate using Multiple Linear Regression in Python

___

**Here 50 startups dataset containing 5 columns  like “R&D Spend”, “Administration”, “Marketing Spend”, “State”, “Profit”.**

**In this dataset first 3 columns provides you spending on Research , Administration and Marketing respectively. State indicates startup based on that state. Profit indicates how much profits earned by a startup.**

**Clearly, we can understand that it is a multiple linear regression problem, as the independent variables are more than one.**

**Prepare a prediction model for profit of 50_Startups data in Python**

___

*Importing the required Libraries*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

___

*Loading the dataset*

In [2]:
startupDataset = pd.read_csv("50_Startups.csv")

___

*Understanding the dataset*

In [3]:
startupDataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
startupDataset.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [5]:
startupDataset.shape

(50, 5)

In [6]:
startupDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [7]:
startupDataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [8]:
startupDataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [9]:
startupDataset.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [10]:
startupDataset.ndim

2

In [11]:
startupDataset.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [12]:
startupDataset.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

___

*Separating Features and Labels from the dataset*

In [13]:
features = startupDataset.iloc[:, :-1]
labels = startupDataset["Profit"]

In [14]:
states = pd.get_dummies(features['State'],drop_first=True)
features.drop("State", axis = 1, inplace = True)
features = pd.concat([features, states], axis = 1)

In [15]:
features.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [16]:
labels.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

___

*Splitting the dataset for training and testing*

In [17]:
featuresTraining, featuresTesting, labelsTraining, labelsTesting = train_test_split(features, labels, test_size = 0.2, random_state = 9)

___

*Training the model*

In [18]:
startupModel = LinearRegression()
startupModel.fit(featuresTraining, labelsTraining)

LinearRegression()

___

*Testing the model*

In [19]:
predictedValues = startupModel.predict(featuresTesting)
predictedValues

array([119819.55288784,  86354.20207824, 183301.3220946 , 152445.18324331,
        64875.52023596, 162565.65848549, 148066.57136292, 115726.7823929 ,
        98775.28101687, 102274.57539607])

___

*Comparing the predicted values with the actual values*

In [20]:
comparisonDataset = pd.DataFrame({
    "Predicted Values" : predictedValues,
    "Actual Values" : labelsTesting
})
comparisonDataset.reset_index(drop=True, inplace=True)
comparisonDataset

   Predicted Values  Actual Values
0     119819.552888      111313.02
1      86354.202078       89949.14
2     183301.322095      191050.39
3     152445.183243      132602.65
4      64875.520236       65200.33
5     162565.658485      155752.60
6     148066.571363      129917.04
7     115726.782393      118474.03
8      98775.281017       97427.84
9     102274.575396      107404.34

___

*Getting the intercept and slope*

In [21]:
#Slope
startupModel.coef_

array([8.15623658e-01, 7.52203964e-03, 2.60919967e-02, 1.86308548e+03,
       2.02274895e+03])

In [22]:
#Intercept
startupModel.intercept_

44883.06347578833

___

*Getting the accuracy, mean squared error*

In [23]:
#Mean Squared Error
mse = mean_squared_error(labelsTesting, predictedValues)
mse

95066506.69509767

In [24]:
#Accuracy
accuracy = r2_score(labelsTesting, predictedValues)
accuracy

0.9153873936694945

___